* {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 70px;
text-align: center;
text-transform: uppercase;
}

#one {
  color: white;
 background-color: #5e2129;
 text-align: center;
}